<%-include("include/header.ejs")%>


<the-homepage class="homepage-flex-box">
    <div id="welcome">
        <p>Welcome to the Attack on Titan Fan Site!</p>
        <p class="photo-credit"> Original Author/Artist: <a href="https://en.wikipedia.org/wiki/Hajime_Isayama">Hajime Isayama</a></p>
        <p class="photo-credit">Photo Credit: <a href="https://pics.alphacoders.com/pictures/view/157168">Nakib</a></p>
        <p class="photo-credit">Creator of API: <a href="https://github.com/ZachMcM">Zach McM</a></p>
        <p class="photo-credit">API Documentation: <a href="https://www.attackontitanapi.com/docs">Attack on Titan API</a></p>
        <p class="photo-credit">Creator of Website: <a href="https://bidus92.github.io/JB-Portfolio/">Justin Beides: Full-Stack Developer</a></p>
    </div>
    <div id="eren" class="home-img">
        <img  src="/assets/images/eren.jpg" alt="Eren Yaeger and his titan form"/>
    </div>
    <div id="reiner" class="home-img">
        <img src="/assets/images/reiner.jpg" alt="Eren Yaeger and his titan form"/>
    </div>
</the-homepage>


<%-include("include/footer.ejs")%>