<%-include("header.ejs")%>


<the-homepage>
    <div id="welcome">
        <p>Welcome to the Attack on Titan Fan Site!</p>
    </div>
    <div id="eren" class="home-img">
        <img  src="/assets/images/eren.jpg" alt="Eren Yaeger and his titan form"/>
    </div>
    <div id="reiner" class="home-img">
        <img src="/assets/images/reiner.jpg" alt="Eren Yaeger and his titan form"/>
    </div>
</the-homepage>


<%-include("footer.ejs")%>