
the-data
{
    display: grid; 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 60px; 
}

.data-image-flex-container
{
    grid-area: 1/1/1/1;
    
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-data-item-flex-container
{
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 15px;
}


.data-image
{
    width: 700px; 
    height: 700px; 
}
.data-photo-credit
{
    color: black; 
}
.data-photo-credit > a:link
{
    color: white; 
    font-size: 16pt; 
}

.data-photo-credit > a:hover
{
    color: black; 
    cursor: pointer;
}

.database-information
{
    grid-area: 1/2/1/2; 
    width: 95%;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0; 
}


.data-button
{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-align: left;
}

the-data .data-button:hover
{
    scale: 1.1;
    color: white;  
}
.current-inheritor, .former-inheritor, .notable-inhabitants
{
    font-size: 17pt;
    font-family: 'Cloister Black', sans-serif;
}

.database-information > li{
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 20px; 
    gap: 20px; 
}
.database-information  p
{
    margin: 0; 
    padding: 0; 
    font-size: 20pt;
    font-family: 'Cloister Black', sans-serif;
}


.data-category
{
    font-family: 'Black Ops One', system-ui;
    align-self:  baseline;
    margin: 0; 
    padding: 0; 
    font-size: 25pt;
}