header, footer
{
    display: flex; 
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #CF0A0A;
    min-width: 100%; 
    font-family: 'Black Ops One', system-ui;
    z-index: 3; 
    font-size: 14pt; 
}

header
{
    bottom: 8px;    
}
#menu-icon, #menu-icon-img
{
    visibility: hidden;
}
#dropdown-menu-flex
{
    display: none; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    align-self: flex-end;
}
#dropdown-menu
{
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    align-self: flex-end;
    position: absolute; 
    visibility: hidden;
    text-align: right; 
    top: 50px; 
    gap: 4px; 
}

#dropdown-menu > div
{
    background-color: white;
    z-index: 3;
    align-self: flex-start
}
footer
{
    margin-top: auto; 
    min-height: 10vh;
}
.header-nav-links, .footer-nav-links
{
    display: inline-flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    width: auto; 
    height: 100%; 
}
.header-nav-links
{
    margin-left: auto;
}
#title
{
    align-self: center;
    display: inline-flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100%; 
    font-family: 'Cloister Black', sans-serif;
    font-size: 30pt; 
    margin-right: auto;
    text-align: center;     
    text-shadow: 2px 2px 2px white, 1px 1px 1px black;  
}

.nav-link > a:link
{
    color: #CF0A0A;
}

.nav-link > a:visited
{
    color: #CF0A0A;
}

.nav-link > a:hover
{
    color: white; 
}