header, footer
{
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: #CF0A0A;
    width: 100vw; 
    height: 15vh; 
    position: relative;
    bottom: 8px;
    gap: 25px; 
    font-size: 17pt;
    font-family: 'Black Ops One', system-ui;
    z-index: 3; 
}
#menu-icon, #menu-icon-img
{
    visibility: hidden;
}
#dropdown-menu-flex
{
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    visibility: hidden;
    position: relative;
    align-self: flex-end;
    left: 70px; 
}
#dropdown-menu
{
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    align-self: last-baseline;
    position: absolute; 
    visibility: hidden;
    text-align: left; 
    gap: 10px; 
    top: 12px; 
}

#dropdown-menu > div
{
    width: auto;  
    height: auto; 
    z-index: 3;
    background-color: white;
    align-self: center
}
footer
{
    justify-content: center;
    align-self: center;
    align-items: flex-end;
    font-size: 15pt; 
    top: 1px; 
    margin-top: auto; 
    margin-right: auto; 
    height: 10vh;
}
.nav-link
{
    padding-right: 15px;
}
#title
{
    font-family: 'Cloister Black', sans-serif;
    font-size: 30pt; 
    margin-bottom: 0px;
    margin-top: 0px; 
    padding-left: 50px;
    margin-right: auto;
    text-align: center;     
    text-shadow: 2px 2px 2px white, 1px 1px 1px black;
                  
}

a{
    padding-right: 10px;
}

a:link
{
    color: #CF0A0A;
}

a:visited
{
    color: #CF0A0A;
}

a:hover
{
    color: white; 
}