the-locations
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
     grid-template-columns: 22% 22% 22% 22%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 50px;
    position: relative; 
    bottom: 35px; 

} 

the-locations > button
{
    width: 280px; 
    height: 280px;
}



.locations
{
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: linear-gradient(315deg, #CF0A0A, black);
   color: black; 
   min-width: 300px; 
   min-height: 300px;   
   position: relative; 
}

.locations::before
{
    content: ''; 
    top: 0; 
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: linear-gradient(315deg, #CF0A0A, black);
}
.locations::after
{
    content: ''; 
    top: 0; 
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: linear-gradient(315deg, #CF0A0A, black);
    filter: blur(15px); 

}

.locations b
{
    position: absolute; 
    inset: 6px; 
    background: white;
    z-index: 0; 
}
.episode
{
    font-family: 'Cloister Black', sans-serif;
    text-align: center;
    z-index: 2;
}
.location-name
{
    font-family: 'Black Ops One', system-ui;
    text-align: center;
    z-index: 2; 
}
.locationIMG
{
    min-width: 100px;
    min-height: 100px; 
    max-width: 200px; 
    max-height: 200px; 
    align-self: center;
    z-index: 2; 
    opacity: 0.6;
}

.locations:hover
{
    scale: 1.1; 
    cursor: pointer;
    color: white;
}

.locationIMG:hover
{
    opacity: 1; 
}