
/*Mobile functionality: */
@media(max-width: 1210px)
{    
    the-characters, the-organizations, the-episodes, the-locations
    {
        grid-template-columns: 31% 31% 31%;
    }   
}

@media(max-width: 920px)
{
    the-characters, the-organizations, the-episodes, the-locations, the-titans
    {
        grid-template-columns: 48% 48%;
    }  
    .data-image
    {
        width: 700px; 
        height: 700px; 
    }
    the-data
    {
        justify-content: center;
        align-items: center;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .database-information
    {
        grid-area: 2/1/2/1; 
        width: 100%;
    }
    .main-data-item-flex-container
    {
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }     
    
    .database-information > li
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .data-category
    {
        align-self: center;
    }
}
@media(max-width: 620px)
{
    the-characters, the-organizations, the-episodes, the-locations, the-titans
    {
        grid-template-columns: 100%;
    }  

    .data-image
    {
        width: 500px; 
        height: 500px; 
    }

    #dropdown-menu-flex
    {
        display: flex;
    }

    #menu-icon-img
    {
        min-width: 40px; 
        min-height: 40px;  
        visibility: visible;
    }

    #menu-icon
    {  
        visibility: visible;
    }

    .menu-pressed
    {
        filter: brightness(50%);
    }
    .dropdown-activated
    {
        visibility: visible;
    }

    .nav-link
    {
        display: none;
    }
}

@media(max-width: 475px)
{

    .data-image
    {
        width: 300px; 
        height: 300px; 
    }
    the
    header
    {
        justify-content: flex-start;
    }
    
    #title
    {
        font-size: 20pt; 
    }

    header, footer 
    {
        font-size: 12pt;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
    }


    header
    {
        gap: 100px;
    }

    #welcome
    {
        width: 300px; 
        height: 300px;
        font-size: 10pt;
    }

    .home-img
    {
        margin: 0; 
    }
 
    #eren
    {
        transform: translateY(-150px) translateX(200px);
        clip-path: inset(0px 180px 0px 0px); 
    }
    #reiner
    {
        transform: translateY(-150px) translateX(-250px);
        clip-path: inset(0px 0px 0px 250px); 
    }
}