
/*Mobile functionality: */
@media(max-width: 430px)
{
    header
    {
        justify-content: flex-start;
    }
    
    #title
    {
        font-size: 20pt; 
    }

    header, footer 
    {
        font-size: 12pt;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
    }
    #dropdown-menu-flex
    {
        visibility: visible;
    }

    #menu-icon-img
    {
        width: 40px; 
        height: 40px;  
        visibility: visible;
    }

    #menu-icon
    {  
        visibility: visible;
    }

    .menu-pressed
    {
        filter: brightness(50%);
    }
    .dropdown-activated
    {
        visibility: visible;
    }

    


    header
    {
        gap: 100px;
    }
    .nav-link
    {
        visibility: hidden;
    }
    #welcome
    {
        width: 300px; 
        height: 300px;
        font-size: 10pt;
    }

    .home-img
    {
        margin: 0; 
    }
 
    #eren
    {
        transform: translateY(-150px) translateX(200px);
        clip-path: inset(0px 180px 0px 0px); 
        object-fit: cover;
        
    }
    #reiner
    {
        transform: translateY(-150px) translateX(-250px);
        clip-path: inset(0px 0px 0px 250px); 
    }
}