.page-list
{
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative; 
    width: 100%; 
    margin-top: 5px;
}

.page-flex
{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px; 
}
.page-flex > div
{
    font-family: 'Cloister Black', sans-serif;
    background-color: black;
    color: #CF0A0A;
    align-items: center;
    text-align: center;
}
.page-flex > div:hover
{
    scale: 1.1; 
}

.page-button
{
    max-width: 40px;
}

.page-button:hover
{
    cursor: pointer;
}
