body
{
    background-color: #DC5F00;
    overflow-x: hidden;
    position: absolute; 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
    z-index: 0;
}


the-homepage 
{
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative; 
    width: 100vw; 
    overflow-x: hidden;
}

#welcome
{
    display: flex; 
    position: absolute; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;  
    background-color: black;
    color: white;
    overflow-x: hidden;
    width: 500px; 
    height: 500px; 
    font-size: 34pt;
    font-family: 'Cloister Black', sans-serif;
    text-align: center;
}

.home-img
{
    z-index: 2;
}

.photo-credit
{
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    margin: 0; 
    padding: 0; 
}



