body
{
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: #DC5F00;
    overflow-x: hidden;
    position: absolute; 
    width: auto; 
    height: 100vh;
    z-index: 0;
    margin: 0; 
    padding: 0; 
}

the-homepage 
{
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative; 
    width: 100vw;  
    margin: 0; 
    padding: 0; 
    overflow: clip;
  
}

#welcome
{
    display: flex; 
    position: absolute; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;  
    background-color: black;
    color: white;
    overflow-x: hidden;
    width: 500px; 
    height: 500px; 
    font-size: 34pt;
    font-family: 'Cloister Black', sans-serif;
    text-align: center;
}

.home-img
{
    z-index: 2;
}

.photo-credit
{
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;
    margin: 0; 
    padding: 0; 
}

.mystery-photo
{
    z-index: 2; 
    align-self: center; 
}

a.mystery-photo-link
{
    color: white;
}
a:visited.mystery-photo-link
{
    color: white;
}

a:link.mystery-photo-link
{
    color: white; 
}

a:hover.mystery-photo-link
{
    color: black;
}




