</div>
<the-footer>
    <div class="footer-nav-links">
        <div class="nav-link">
            <a href="/">Home</a>
        </div>
        <div class="nav-link">
            <a href="/characters">Characters</a>
        </div>
        <div class="nav-link">
            <a href="/episodes">Episodes</a>
        </div>
        <div class="nav-link">
            <a href="/locations">Locations</a>
        </div>
        <div class="nav-link">
            <a href="/organizations">Organizations</a>
        </div>
        <div class="nav-link">
            <a href="/titans">Titans</a>
        </div>
    </div>
</the-footer>

<script src="js/parallax.js"></script>
<script src="js/mobile.js"></script>
</body>
</html>